body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #fdfff5;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*Кастомный вид меню сверху*/
.navbar-custom {
    background-color: #87cefa; /*Цвет меню*/
}
    /*Дополнения к кастомному виду меню сверху*/
    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text {
        color: black; /*Цвет шрифта*/
        font-family: Verdana; /*Шрифт*/
        padding: 16px 26px; /*Внутрение отступы для текста*/
        font-size: 24px; /*Гегель шрифта*/
    }
header1 {
    font-family: Verdana;
    font-size: 38px;
    color: black;
    text-align: center;
}